html, body {
    max-width: 100%;
    height: 100%;
    overflow-x: hidden;
    }
h1{color: white;justify-content: center;font-size: x-large;}
*{color: white;}
h1{text-align: center; justify-content: center;}
h2{color:white;}
h2{text-align: center;}
#col-izquierda{width: 75%;float: left;justify-content: center;align-items: center;}
#col-derecha{width: 25%; float:right;align-items: center;justify-content: center;width: px;}
#logo-header{width: 98%;margin-right: 2%}
#logo-copas{align-items: center;justify-content: center;width: 90%;margin-left: 0.5%;}
#Logito{width:28%;margin-left: 1cm;}
#jugadores{width: 90%;margin-left:0.5%;}
footer{float: middle;display: center;justify-content: center;margin-left: 12.5%;}
#logo-reserva{width: 98%;height: max-content;margin-right: 2%;}
#logo-pipa{width:98%;margin-right: 2%}
#logo-twitter{width: 20%;}
#logo-sponsors{width: 8.5%;margin-left: 0.5%;margin-bottom: 8%; margin-top: 3%;}
#logo-rexona{width: 7;margin-bottom: 8%; margin-top: 3%;}
b{color: grey;}
#logo-adidasarriba{width: 40%;display: right;}
#logo-adidasarriba{justify-content: right;}
#titulo-izq{float: middle;text-align: center;}
#titulo-der{float: right;}
#global{text-align: center;}
#logo-bocaarriba{width: 40%;}
#logo-titulo{float: left;}
#nombres{margin-right: 10%;margin-left: 0.5%;}
#posicion{display: flex;flex-direction:row;}
#linksnav{color: black;font-size: large;margin-right: 1.5cm;}
#titulochico{margin-top: 2%;}
#buttonlist{width: 120%;}
#buttonlang{color: black;margin-right: 00.5%;}
#nav{margin-top: 6%;}
